.Projects--Container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 

    .Projects--Title {
        font-weight: 700;
        font-size: 30px;
        color: #ffffff;
        padding: 10px;
        border-bottom: 3px solid #ffffff;
    }

    .Projects {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
        align-items: center;
        background: transparent;

        .Projects--Card {
            background: #ffffff;
            border-radius: 10px;
            width: 25%;
            margin: 10px;
            min-height: 150px;
            cursor: pointer;
            -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow:    1px 1px 1px 1px #ccc;   /* Firefox 3.5 - 3.6 */
            box-shadow:         1px 1px 1px 1px #ccc;  
            padding: 20px;


            .Project--Name {
                font-weight: bold;
                font-size: 1.1rem;
            }

            .Project--Description {
                font-size: 1rem;
                color: rgba($color: #000000, $alpha: 0.7);
                margin-left: 30px;
            }

            .Project-Stats {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 30px;
            }

            .Project-Stats-Value {
                padding: 5px;
                display: flex;
                align-items: center;
            }
        }
    }

    .Projects--Loader {
        position: absolute;
        color: #ffffff;
        font-weight: 700;
        top: 50%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 760px) {
    .Projects {
        flex-direction: column;
        .Projects--Card {
            width: 80% !important;
        }
    }
}